.jumbotron {
	background-image: url("pouring.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}
body {
	width: 100%;
	
}
.form-group {

}
.card {
	background-color: black;
}
.list-group-item {
	color: black;
}

li {
	color: black;
	background-color: white;
}
.drink-recipe {
	margin: 25px 0;
	padding: 5px;
}
.drink-img {
}
.drink-img img {
	width: 300px;
}
.drink-info {
	width: 600px;	
}
/*
HIDING THIS FOR NOW B/C IT WAS HIDING #drink-list BELOW-THE-FOLD
#drink-list {
 width: 100%;
 padding: 50px;
}
*/