.jumbotron {
	background-image: url("pouring.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}
body {
	width: 100%;
	
}
.form-group {

}
.card {
	background-color: black;
}
.list-group-item {
	color: black;
}


#drink-list {
 width: 100%;
 padding: 50px;
}
.drink-recipe {
	margin: 25px 0;
	padding: 5px;
	border: 1px solid;
}

.drink-img {
	background-color: lightgrey;

}
.drink-img img {
	width: 300px;
}
.drink-info {
	background-color: pink;
	width: 600px;	
}